/* Light CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Roboto", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

/*End of CSS reset*/

:root {
    --primary-color: #1990D1;
    --secondary-color: #fff;
    --complement-color: #E2E8F0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 2fr 5fr 5fr;
}

.header {
    background-color: var(--secondary-color)
}

.sidebar {
    background-color: var(--primary-color);
    padding: 1rem;
    color: var(--secondary-color);

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sidebar-dashboard {
    grid-column: 1/-1;
    margin-bottom: 1rem;
    font-size: calc(16px + 0.75vw);
    font-weight: bold;
}

.sidebar-section {
    font-size: calc(16px + 0.35vw);
    font-weight: 600;
}

.sidebar-section>p {
    padding-bottom: 1em;
}

.sidebar>div:not(:first-child) {
    padding-left: 0.5em;
}

.fa-solid {
    color: var(--secondary-color);
    padding-right: 1em;
}

.main {
    background-color: var(--complement-color);
}


@media only screen and (min-width: 750px) {
    .container {
        height: 100vh;
        grid-template-columns: minmax(max-content, 1fr) 4fr;
        grid-template-rows: 1fr 4fr;
    }

    .header {
        grid-column: 2;
    }

    .sidebar {
        display: grid;
        grid-row: 1/-1;
        padding: 1.5rem;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 4fr;
        justify-items: start;

    }

    .fa-solid {
        padding: 0 1.5rem 0.5rem 0;
    }

    .main {
        grid-column: 2;
        background-color: var(--complement-color);
    }

}